*{margin:0;padding:0;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight:400;}
address,em,i{font-style: normal;}
strong,b{font-weight: 400;}

@font-face {
    font-family: "vitro";
    src: url(../font/VITRO\ PRIDE\ TTF.ttf) format("truetype");
    font-weight: normal;
}
html{
    font-size: 16px;
    font-family: 'vitro',serif;
}

header{
    /* border: 1px solid red; */
    position: fixed;
    left: 0;top:0;
    width: 100%;
    height: 95px;
    /* overflow: hidden; */
    background: #005841;
    color: #fff;
}
.innerHeader {
    /* border: 1px solid red; */
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.innerHeader >nav >  ul {
    display: flex;
    /* border: 1px solid red; */
    height: 95px;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.innerHeader ul>li {
    /* border: 1px solid red; */
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.innerHeader ul>li>ul {
    /* border: 1px solid aqua; */
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
}
.innerHeader ul>li>ul>li{
    /* border: 1px solid red; */

    /* flex-direction: column; */

}
nav{
    /* border:1px solid #fff; */
    width:840px;
}
.headerLogo {
    /* border: 1px solid red; */
    width: 160px;
}
.headerLogo a img{
    /* border: 1px solid red; */
    width: 160px;
}

/* main */
.sns{
    border:1px solid #005841;
    background: #005841;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 50% 50% 0 0;
}
.snsList{
    width: 1440px;
    height: 100vh;
    margin:0 auto;
    margin:100px;

}
.snsList>section{
    display: flex;

    /* position: absolute;
    left: 0;
    top: 0; */
    margin-left: 180px;
    padding-top: 80px;
    margin-bottom: 110px;

}
.snsList>section>h2{
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}
.snsList>section>p{
    font-size: 1.2rem;
    color: #fff;

}
.snsList>ul{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
}
.snsList>ul>li{
    padding-right:40px;

}
.snsList>ul>li>a>img{
    width:300px;
    height:300px;
    object-fit: contain;
}


/* footer */
footer{
    /* border: 1px solid red; */
    width: 100%;
    height: 50vh;
    background: #005841;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerLogo h1{
    /* border: 1px solid red; */
    width: 160px;
    padding-bottom:30px;
}
.footerLogo a img{
    width: 100%;
}
.footerInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footerInfo p {
    padding-bottom:10px;
}
.footerInfo p:last-of-type {
    padding-bottom:40px;
}
.footerSns ul{
    display: flex;
    justify-content: center;
}
.footerSns ul>li{
    width: 30px;
    height: 30px;
    padding-right:20px;
}
.footerTop{
    border:3px solid #fff;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    margin-top:50px;
}


.banner{
    /* border:10px solid red; */
    width:100%;
    height:100vh;
    margin: 75px auto;
    overflow: hidden;
}

.train{
    width:400%;
    height: 100%;
    display: flex;
    transition:all 0.5s ease 0s;
}
.train>li{
    /* border: 1px solid red; */
    flex: 1;
    /* transform: translateX(-100%); */
}
.train>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.controler{
    border:1px solid black;
    padding:10px 0;
    text-align: center;
    z-index: 10000;
}
