*{margin:0;padding:0;}
ul,ol{list-style: none;color:inherit;}

.wrap{
    font-family: 'Noto Sans KR', sans-serif;
}

.header{
  position:relative;
  background: #1b1f42;
  width: 100%;
  height: 100vh;
}
.inner-header {
    height: 75vh;
    width: 100%;
}
.inner-header .title{
    padding-top: 200px;
    width: 1000px;
    margin: 0 auto;
}
.inner-header .title p{
    text-align: left;
    color:#ffdfb0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.headertitle{
    fill:none;
    stroke: #ffdfb0;
}
.waves{
    position: relative;
    width: 100%;
    height: 28vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 240px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    /* height:40px;
    min-height:40px; */
  }
  .title {
    /* font-size:24px; */
  }
}
/* main */
main{
    width: 100%;
    margin: 0 auto;
}
/* main-about */
.aboutT{
    background: #ffdfb0;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
}
.grid{
    background-size:30px 30px;
    background-image: linear-gradient(90deg, #000 1px, transparent 1px), linear-gradient(90deg, #000 1px, transparent 1px), linear-gradient(#000 1px, transparent 1px), linear-gradient(#000 1px, transparent 1px);
  }
.Stitle>ul{
    display: flex;
    justify-content: space-between;
}
.Stitle>ul>li{
    padding-top:25px;
    padding-bottom: 55px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.about_top{
    display: flex;
}
.about_topL{
    width: 50%;
    height: 250px;
    fill:#1b1f42;
    padding-left:10px;
}
.about_topR{
    border-top:1px solid #1b1f42;
    width: 50%;
    height: 250px;
}
.about_topR p{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    line-height: 36px;
}
.about_mid{
    margin:100px 0;
    display: flex;
}
.about_mid svg{
    width: 36px;
    height: 200px;
}
.about_midL{
    fill: #1b1f42;
    padding-left: 10px;
}
.about_midR{
    fill: #1b1f42;
}
.about_mid h2{
    padding:20px 0;
    font-size: 58px;
}
.about_bot>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_bot>ul>li{
    position:relative;
    width: 50%;
    height: 400px;
}
.about_bot>ul>li h4{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.about_bot>ul>li>ul{
    position: absolute;
    left: 280px;
    top: 4px;
}
.about_bot>ul>li>ul>li{
    font-size: 30px;
    padding-bottom: 10px;
}
.likesList{
    position: relative;
}
.likesList>ul{
    display: flex;
    position: absolute;
    left: 280px;
    top: 4px;
    font-size: 30px;
}
.likesList>ul>li{
    padding-right: 50px;
}
.aboutB{
    height: 100vh;
    width: 95%;
    margin: 0 auto;
    background: #ffdfb0;
    border-radius: 0 0 20px 20px;
    margin-bottom: 15px;
}
.skills h4{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.skills>ul{
    margin: 210px 0;
    display: flex;
}
.skills>ul>li{
    flex: 1;
    position: relative;

}
.skills>ul>li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position:absolute;
    top: 0;
    left: 0;
}

/* popup */
.popup{
    /* width: 100%; */
    height: 100vh;
    position: relative;
}
.popup svg{
    /* width: 100%; */
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
.popup>h1{
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.popup>h1 span{
    font-size:2.5rem;
    padding-right: 10px;;
}
.popupline{
    fill: #fff;s
    stroke: #1b1f42;
}
.popupImg{
   position: absolute;
   left: 50%;
   top: 173px;
   transform: translateX(-50%);
   width: 1000px;
}
.popupImg>ul{
    display: flex;
    flex-wrap: wrap;
}
.popupImg>ul>li{
    width: 220px;
    margin: 0 auto;
    height: 220px;
    padding:10px 10px;
    transition:all 0.5s ease 0s;
    opacity: 1;
}
.popupImg>ul>li:last-of-type{
    /* padding-right: 268px; */
}
.popupImg>ul>li img{
    width: 100%;
    height: 100%;
    height: 100%;
    object-fit: cover;
}
.popupImg>ul>li:hover{
    transform: traanslate(50%,50%),scale(2);
    opacity:0.8;
}
.popupImg>ul>li:hover .info{
    /* background: #000; */
}
.info{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    font-size: 0;
    width: 100%;
    height: 100%;
}
/* banner */
.banner{
    /* width: 100%; */
    height: 100vh;
    position: relative;
}
.banner svg{
    /* width: 100%; */
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerline{
    fill: #fff;
    stroke: #1b1f42;
}
.banner>h1{
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.banner>h1 span{
    font-size:2.5rem;
    padding-right: 10px;;
}
.bannerImg{
    /* width: 100%; */
    height: 400px;
}
.bannerImg>ul{
    position: relative;
    display: flex;
}
.bannerImg>ul>li{
    position: absolute;
    left: 0;
    top: 200px;
}