*{margin:0;padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight:400;}
address,em,i{font-style: normal;}
strong,b{font-weight: 400;}

dl{
    border:1px solid black;
    display: flex;
    width: 500px;
    height: 200px;
    margin:0 auto;
    position: relative;
}
dl dt{
    width:100px;
    height: 50px;
    line-height: 50px;
    padding-left:10px;
    cursor: pointer;
}
dl dd{
    position:absolute;
    top:50px;
    width: 500px;
    padding-top:15px;
    display: none;
}
dl dt.on{
    border-bottom: 2px solid black;
}
.tabmenu dd.on{
    display: block;
}