*{margin:0;padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
img{max-width: 100%;}
b,strong{font-weight: normal;}
i,em{font-style: normal;}

.wrap{
    width: 100%;
    display: flex;
    background: wheat;
}
header{
    width: 200px;
    height: calc(100% - 120px);
}
.headerlogo{
    width: 200px;
    height: 100px;
}
.headerlogo h1{
    width: 100%;
    height: 10%;
}
.headerlogo h1 img{
    width: 190px;
    height: 45px;
}
nav ul{
    width: 200px;
}
nav>ul>li{
    width: 200px;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    display: flex;
    position: relative;
}
nav>ul>li:hover{
    width: 200px;
    background: wheat;
}
nav>ul>li>a{
    width: 200px;
    display: block;
    height: 50px;
    line-height: 50px;
}
nav>ul>li>ul{
    position: absolute;
    left: 200px;
    top: 0;
    width: 200px;
    height: 250px;

}
nav>ul>li>ul>li{
    width: 200px;
    height: 50px;
    padding:10px;
}

nav>ul>li>ul>li>a{
    display: block;
    height: 50px;
    line-height: 50px;
}
nav>ul>li>ul>li:hover{
    background: coral;
}
.contentLeft{
    width: 400px;
    height: calc(100% - 120px);
    /* border: 1px solid red; */
}
.banner{
    width: 400px;
    display: flex;
    padding:10px;
    height: 150px;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}
.banner img{
    width: 90px;
    height: 90px;
}
.banner>.bannerTxt{}
.tabMenu{
    /* border: 1px solid red; */
    width: 400px;
    height: calc(100% - 150px - 150px);
    padding-top:20px;
    padding-bottom: 20px;
}
.tabMenu dt{
    width: 100%;
    height:50px;
    line-height: 50px;
    padding:15px;
}
.tabMenu .notice>li{
    padding:10px;
}
.tabMenu .ga_list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabMenu .ga_list>li{
    padding:10px;
}
.tabMenu .ga_list img{
    width:165px;
    height: 150px;
}
.link{
    width: 400px;
    height:200px;
    /* border: 1px solid red; */
}
.link ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link ul>li{
    padding:5px;
    text-align: center;
}
.link ul>li img{
    width: 80px;
    height: 80px;
}
.contentRight{
    width: calc(100% - 200px - 400px);
    height: calc(100% - 120px);
    overflow: hidden;
}
.contentRight ul{
    width: 300%;
    height: 100%;
    display: flex;
}
.contentRight ul>li{
    width:100%;
    height: 100%;
}
.contentRight ul>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    width: 100%;
    height: 120px;
    display: flex;
}
.footerlogo{
    width: 200px;
    height: 120px;
}
.footerlogo h1{
    width: 100%;
    height: 120px;
}
.footerlogo h1 img{
    width: 200px;
    height: 120px;
    object-fit: cover;
}
.footercontent{
    width: calc(100% - 200px - 300px);
    /* border: 1px solid black; */
    padding-left: 20px;
}
.footercontent>ul{
    display: flex;
}
.footercontent>ul>li{
    padding:10px;
    border-right: 1px solid black;
    color:blue;
    font-style:underline;
}
.footercontent>p{
    padding:10px;
}
section{
    width: 300px;
    height: 120px;
}