*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
img{max-width: 100%;}
strong,b{font-weight: normal;}
i,em,address{font-style: normal;}

.wrap{
    width: 100%;
    height: 970px;
    display: flex;
    flex-wrap: wrap;
    background: wheat;
}
header{
    width: 200px;
    height: 850px;
}
.headerlogo{
    width: 200px;
    height: 100px;
}
.headerlogo h1{
    width: 100%;
    height: 100px;
}
.headerlogo h1 img{
    width: 100%;
    height: 100px;
}
.gnb {
    position: relative;
    z-index: 10;
    /* position :relative를 해서 z-index값을 높여서 이미지 슬라이드보다 앞쪽에 배치되도록  */
}
.gnb>li{
    height:50px;
    transition:all 0.5s ease 0s;
    position:relative;
}

nav>li>a{
    display:flex;
    height:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
nav>li>ul{
    transition:all 0.5s ease 0s;
    overflow: hidden;
    position:absolute;
    left:200px;
    top:0;
    width:0%;
    height:100%;
    border:1px solid red;
    display:flex;
    background:#ccc;
    opacity: 0;;
}
nav:hover ul{
    width:500%;
    opacity: 1;
}
nav>li>ul>li{
    width:20%;
    border:1px solid blue;
    text-align: center;    
    line-height:50px;
    color:#000;
}
nav li:hover{
    background:#000;
    color:#fff;
}

main{
    width: calc(100% - 200px);
    height: 850px;
}.station{
    width: calc(100% -200px);
    height: 400px;
}
.slide{
    width: 100%;
    height: 400px;
}
.train{
    width: 100%;
    height: 400px;
    position: relative;
}
.train>li{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 400px;
    pointer-events: none;
    transition: all 0.6s ease 0s;
    opacity: 0;
}
.train>li.on{
    opacity: 1;
    pointer-events: auto;
}
.train>li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.link{
    position: absolute;
    right:0;
    top: 0;
    z-index: 100;
}
.banner{
    width: 100%;
    height: 200px;
}
.banner section{
    border: 1px solid red;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.bannerTxt{
    padding:20px;
}
.content{
    width: 100%;
    height: 250px;
}
.content dl{
    display: flex;
    position: relative;
} 
.content dt{
    width: 100px;
    height: 50px;
}
.content dd{
    position: absolute;
    left: 0;
    top: 50px;

}
footer{
    width: 100%;
    height: 120px;
    display: flex;
}
.footerlogo{
    width: 200px;
    height: 120px;
}
.footerlogo h1{
    width: 100%;
    height: 120px;
}
.footerlogo h1 img{
    width: 100%;
    height: 120px;
}
.footer_right{
    width: calc(100% - 200px);
    height: 120px;
    display: flex;
}
.footer_right ul{
    display: flex;
}
.footer_right p{
    padding: 10x;
}