*{margin:0;padding:0;}
ul,li,ol{list-style: none;}
a{text-decoration: none;color:inherit}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
b,strong{font-weight:normal;}
i,em,address{font-size: normal;}
img{max-width: 100%;}

.wrap{
    width: 1200px;
    height: 700px;
    background: wheat;
    margin: 0 auto;
}
header{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.headerlogo{
    width: 200px;
    height: 100px;
    border: 1PX SOLID RED;
    margin-top: 30px;
}
.headerlogo img{
    width: 200px;
    height: 40px;
}
nav{
    height: 200px;
    margin-top:50px;

}
nav>ul{
    border:1px solid red;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background: #fff;
    color: black;

}
nav>ul:hover{
    height: 300px;
}
nav>ul>li{
    height: 50px;
    width: 150px;
}
nav>ul>li>a{
    line-height: 50px;
    text-align: center;
    height: 50px;
    display: block;
}
nav>ul>li>ul{
    height: 300px;
    
}
nav>ul>li>ul>li>a{
    line-height: 50px;
    text-align: center;
    height: 50px;
    display: block;
}
nav ul li:hover>a{
    background: yellow;
}
.station{
    width: 1200px;
    margin:0 auto;
    height: 300px;
    overflow: hidden;
}
.train{
    width: 1200px;
    /* display: flex; */
    margin:0 auto;
    height: 900px;
    transition: all 0.5s ease 0s;
}
.train>li{
    width: 1200px;
    margin:0 auto;
    height: 300px;
}
.train>li img{
    width: 1200px;
    height: 300px;
    object-fit: cover;
}
.contents{
    width: 1200px;
    margin:0 auto;
    height: 200px;
    display: flex;
}
.tabMenu{
    width:400px;
    height: 200px;
    display: flex;
    position: relative;
}
.tabMenu dt{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.tabMenu dd{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
}
.tabMenu dt.on{
    background: black;
    color: #fff;
}
.tabMenu dd.on{
    display: block;
}
.galleryList{
    display: flex;
}
.banner{
    width: 400px;
    height: 200px;;
}
.direct{
    width: 400px;;
    height: 200px;
}
footer{
    width: 1200px;
    margin:0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .snsList{
    display: flex;
}

.popUP{
    border: 1px solid red;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: #fff;
    z-index: 50;
    padding: 20px;
    padding-bottom: 50px;
    display: none;
}
.popUP.on{
    display: block;
}
.popUP h2{
    margin-bottom: 10px;
}
.btnPopupClose{
    text-align: right;
    display: block;
    padding: 20px;
}