*{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}

html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
}
.container{
    width: 1320px;
    margin: 0 auto;
    background: #ffc845;
}
.container h1{
    font-size: 4rem;
    font-weight: 500;
    padding-left: 5px;
}
.container ul{
    display: flex;  
    justify-content: space-between;
    padding-right: 20px;
}
.container li{
    margin-bottom: 50px;
}
.container li:first-of-type{
    padding-left:20px;
}
.container li img{
    width: calc(100% - 60px)/4;
    height: 300px;
    object-fit: contain;
}
.container li h2{
    font-size:1.7rem;
    line-height: 1.1;
    font-weight: bold;
    padding-top: 10px;
    height: 50px;
    padding-bottom: 20px;
}
.container li p{
    color: #a37c1b;
    font-weight: 500;
    padding-top:10px;
    border-top:2px solid #fbc138;
    padding-bottom: 5px;
    line-height: 2;
}