*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
img{max-width: 100%;}
strong,b{font-weight: normal;}
i,em,address{font-style: normal;}

.wrap{
    width: 100%;
    height: 950px;
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 200px;
    height: 850px;
}
.headerlogo{
    width: 200px;
    height: 100px;
}
.headerlogo img{
    width: 200px;
    height: 100px;
}
nav ul{
    width: 200px;
    border:1px solid black;

}
nav ul>li{
    border: 1px solid red;
    width: 100%;
    height: 50px;
    overflow: hidden;
    transition: all 0.7s ease 0s;
}
nav ul>li:hover{
    height: 200px;
}
nav ul>li>a{
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

nav ul>li>ul{
}
nav ul>li>ul>li{
    
}
main{
    width: calc(100% - 200px);
    height: 850px;
    display: flex;
    flex-wrap:wrap;
}
.contents-top{
    width:calc(100% - 200px) ;
    height: 400px;
    display: flex;
}
.station{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.train{
    width: 300%;
    height: 400px;  
    display: flex;
    transition: all 0.5s ease 0s;
    
}
.train>li{
    flex: 1;
    height: 400px;

    
}
.train>li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner{
    width: 230px;
    height: 400px;
}
.contents-bottom{
    width: 100%;
    height: 250px;
}
.contents-bottom dl{
    display: flex;
}
.contents-bottom dt{
    width: 200px;
    height: 50px;
}

.contents-bottom .content{

}
.contents-bottom .galleryList{
    display: flex;
    width:200px;
    height: 200px;
}
.contents-bottom .galleryList img{
    width: 100%;
    height: 100%;
}
/* footer */
footer{
    width: 100%;
    height: 100px;
    display: flex;
}
.footerlogo{
    width: 200px;
    height: 100px;
    display: flex;
}
.footerlogo img{
    width: 200px;
    height: 100px;
}
.footercontent{
    width: calc(100% - 200px - 230px);
    height: 100px;
    padding:10px;
    color:#333333;
}
.footersns{
    width: 230px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.footersns img{
    width:calc(100% / 3);
    height: 100px;
    object-fit: contain;
}